<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 地图相关权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 存储权限（报表导出） -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 存储权限（分版本适配） -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:minSdkVersion="33"/>
    <!-- 相机硬件特性 -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/> <!-- Android 11+必加 -->


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.AutoMobileUnion"
        tools:targetApi="31">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="810857a029f5f853a92a0d14d5de3c7d"/>

        <!-- 微信SDK配置（可选） -->
        <meta-data
            android:name="wxapi.appid"
            android:value="${WX_APPID}" />

        <!-- 微信分享必备配置 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".pages.MainActivity"
            android:theme="@style/Theme.AutoMobileUnion"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".pages.LoginActivity" />

        <activity android:name=".car.DeviceAlarmActivity" />
        <activity android:name=".car.status.DeviceStatusActivity" />
        <activity android:name=".car.OperationAnalysisActivity" />
        <activity android:name=".car.ReportActivity" />
        <activity android:name=".car.status.DeviceStatusListActivity" />
        <activity android:name=".car.status.ExpireCarActivity" />
        <activity android:name=".car.ReportAlarmDetailActivity" />
        <activity android:name=".car.CarInfoActivity" />
        <activity android:name=".car.OfflineDetailActivity" />
        <activity android:name=".car.TreeListActivity" />
        <activity android:name=".car.ActivityNavi" />

        <activity android:name=".training.user.UserCenterActivity" />
        <activity android:name=".training.user.ScanCodeActivity" />
        <activity android:name=".training.safetytraining.SafetyTrainingActivity" />
    </application>

</manifest>