<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 地图相关权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 存储权限（报表导出） -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 存储权限（分版本适配） -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:minSdkVersion="33"/>
    <!-- 相机硬件特性 -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/> <!-- Android 11+必加 -->

    <!-- 音频权限（对讲功能） -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.AutoMobileUnion"
        tools:replace="android:allowBackup,android:networkSecurityConfig"
        tools:targetApi="31">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="810857a029f5f853a92a0d14d5de3c7d"/>

        <!-- 微信SDK配置（可选） -->
        <meta-data
            android:name="wxapi.appid"
            android:value="${WX_APPID}" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />

        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/anythink_bk_tt_file_path" />
        </provider>

        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/anythink_bk_gdt_file_path" />
        </provider>

        <provider
            android:name="com.sigmob.sdk.SigmobFileV4Provider"
            android:authorities="${applicationId}.sigprovider"
            android:exported="false"
            android:initOrder="200"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/anythink_bk_sigmob_file_path" />
        </provider>

        <!-- 微信分享必备配置 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- scheme必须是你的微信AppId，小写，无多余字符 -->
                <data android:scheme="${WX_APPID}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pages.SplashAdActivity"
            android:theme="@style/Theme.AutoMobileUnion"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".pages.MainActivity"
            android:theme="@style/Theme.AutoMobileUnion"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:exported="true" />

        <activity android:name=".pages.AgreementConsentActivity" android:screenOrientation="portrait" />
        <activity android:name=".pages.PolicyContentActivity" android:screenOrientation="portrait" />
        <activity android:name=".pages.LoginActivity" android:screenOrientation="portrait" />

        <activity android:name=".car.DeviceAlarmActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.status.DeviceStatusActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.OperationAnalysisActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.ReportActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.status.DeviceStatusListActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.status.ExpireCarActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.ReportAlarmDetailActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".car.CarInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".car.OfflineDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.TreeListActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.ActivityNavi" android:screenOrientation="portrait" />
        <activity android:name=".car.TrackPlayActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.VideoPlaybackActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.VideoListActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.VideoFullActivity" android:screenOrientation="portrait" />
        <activity android:name=".car.RealTimeMonitorActivity" android:screenOrientation="portrait" />

        <activity android:name=".training.AuthenticationActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.MeetingDetailActivity" android:screenOrientation="portrait" />

        <activity android:name=".training.user.UserCenterActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.user.ScanCodeActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.user.StudyRecordActivity" android:screenOrientation="portrait" />

        <activity android:name=".training.pay.PayDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.pay.PayOrderActivity" android:screenOrientation="portrait" />

        <activity android:name=".training.safetytraining.TrainListActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.safetytraining.ScoreDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.safetytraining.ExamManagerActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.safetytraining.DailyTrainListActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.safetytraining.TrainCourseListActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.safetytraining.StudyDetailActivity" android:screenOrientation="portrait" />

        <activity android:name=".training.jobs.JobsActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.jobs.PublishJobActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.jobs.MyJobDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.jobs.JobDetailCompanyActivity" android:screenOrientation="portrait" />

        <activity android:name=".training.YiqingSignActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.DriverBookActivity" android:screenOrientation="portrait" />

        <activity android:name=".training.exam.ExamPracticeActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.exam.AnswerQuestionActivity" android:screenOrientation="portrait" />

        <activity android:name=".training.dangercheck.DangerCheckActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.dangercheck.DangerHistoryRecordActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.dangercheck.DangerCheckDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.dangercheck.UploadPhotosActivity" android:screenOrientation="portrait" />

        <activity android:name=".training.safetycheck.CarSafetyCheckActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.safetycheck.LastRecordActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".training.safetycheck.CarCheckStageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".training.safetytraining.FaceCheckActivity" android:screenOrientation="portrait" />

        <activity android:name=".training.drivelog.DriveLogActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.drivelog.LastDriveLogRecordActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".training.drivelog.DriveLogStageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".training.drivelog.CarSearchActivity" android:screenOrientation="portrait" />

        <activity android:name=".training.notice.NoticeActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.notice.NoticeDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.notice.WarningDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".training.notice.SignatureActivity" android:screenOrientation="portrait" />
    </application>

</manifest>
